body {
    background-image:url("https://i.pinimg.com/originals/f1/38/20/f1382036ea7e5441d24b52e674670f65.jpg");
}

h1 {
    color: white;
    text-align: center;
    font-size: 80px;
}

h2{
    color: white;
    position: absolute;
    bottom: 0px;
    right: 10px;
}

img{
    padding:0px;
    margin-top: 300px;
    margin-right:10px;
    margin-left:10px;
    width:100px;
    height:100px;
}

div{
    text-align: center;
}

#search {
    display: flex;
    text-align: center;              
    width: 500px;                    
    border-radius: 40px;             
    outline: none;                     
    justify-content: center;        
}

div.search {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}

div.menu {
    display: flex;
    justify-content: center;      
    padding: 20px;                   
 }       
 
footer{
    margin-bottom: 0px;
    align-items : center
}

.conteneur{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
    
.boite{
    margin-top: 50px;
    width: 20%;
    margin-right: 20px;
    margin-left: 20px;
    border: solid 5px black;
    background-color: white;
    box-shadow: 5px 5px 2px 1px black;
    border-radius: 30px;
}

.boite > div{
    padding-left: 8px;
    overflow: hidden;
}

#fin {
    color: white;
    position : absolute;
    bottom : 0px;
  }